.footer {
    background-color: #f6f6f6;
    padding: 103px;

    &-side {
        display: flex;
        gap: 180px;
        margin-bottom: 110px;

        @media screen and (max-width:900px) {
            width: 100%;
            flex-direction: column;
            text-align: center;
            gap: 50px;
        }
        @media screen and (max-width:900px) {
        }
    }

    &-left {
        width: 55%;
        height: 100%;
        display: flex;

        @media screen and (max-width:900px) {
            width: 100%;
            flex-direction: column;
        }
    }

    &-right {
        width: 45%;
        height: 100%;
        display: flex;

        @media screen and (max-width:900px) {
            width: 100%;
            flex-direction: column;
            margin-right: 0;
        }
    }

    &-bottom {
        text-align: center;
        color: #272D38;
    }
}

.left-1 {
    margin-right: 50px;

    @media screen and (max-width:900px) {
        margin-bottom: 20px;
        margin-right: 0;
    }

    &__title {
        font-weight: 700;
    }

    &-desc {
        color: #272D38;
    }
}

.left-2 {
    display: flex;
    flex-direction: column;
    color: #272D38;

    &__title {
        font-weight: 700;

    }

    &__desc {
        color: #2d2f34;
        margin-bottom: 20px;
    }

}

.right-1 {
    display: flex;
    flex-direction: column;
    margin-right: 100px;

    &__title {
        font-weight: 700;
    }

    @media screen and (max-width:900px) {
        margin-right: 0;
        margin-bottom: 20px;
    }

    

    &__desc {
        color: #33373f;
        margin-bottom: 20px;
    }
}

.right-2 {
    display: flex;
    flex-direction: column;

    &__title {
        font-weight: 700;
    }

    &__desc {
        color: #2e3138;
        margin-bottom: 20px;

    }
}